.orderItem{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    padding: 1rem 5rem !important;
    margin: 3rem 10rem !important;
    align-items: center;
}

.orderItem_title{
    align-self: flex-start;
}