.CreateAccountForm {
    margin: auto;    
}


.CreateAccountForm h1{
    display: grid;
    grid-column: 2;
    text-align: center;
    font-size: 3rem !important;
    padding-bottom: 3rem !important;
}
.CreateAccountButtons {
    display: flex;
    justify-content: space-evenly;
}

